/*主体*/
.cart-main{
    width: 100%;
    margin-top: 1.2rem;
    padding-bottom: 2.5rem;
}

/*单个商品*/
.cart-main .cart-list{
    width: 100%;
    height: 2.2rem;
    background-color: #FFFFFF;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    margin-top: 0.1rem;
}

/*选择按钮*/
.cart-main .cart-list .select-btn{
    width: 0.4rem;
    height: 0.4rem;
    border: 1px solid #bfbfbf;
    border-radius: 100%;
    margin-left: 0.2rem;
    margin-right: 0.3rem;
}
.cart-main .cart-list .select-btn.active{
    border: #FFFFFF solid 1px;
    background-image: url("../../../assets/images/home/cart/checkmark.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

/*左侧*/
.cart-main .cart-list .image-wrap{
    width: 1.2rem;
}
/*图片盒子*/
.cart-main .cart-list .image-wrap .image{
    width: 1.2rem;
    height: 1.2rem;
}
.cart-main .cart-list .image-wrap .image img{
    width: 1.2rem;
    height: 1.2rem;
}
/*删除单个*/
.cart-main .cart-list .image-wrap .del{
    width: 100%;
    text-align: center;
    font-size: 0.24rem;
    color: #B5B5B5;
    margin-top: 0.2rem;
}

/*右侧*/
.cart-main .cart-list .goods-wrap{
    width: 68%;
    font-size: 0.28rem;
}
/*标题*/
.cart-main .cart-list .goods-title{
    width: 100%;
}
/*属性*/
.cart-main .cart-list .goods-attr{
    width: 100%;
    margin-top: 0.1rem;
}
.cart-main .cart-list .goods-attr span{
    padding-left: 0.3rem;
}
/*购买盒子*/
.cart-main .cart-list .goods-wrap .buy-wrap{
    width: 100%;
    height: 0.8rem;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
}
/*价格*/
.cart-main .cart-list .goods-wrap .buy-wrap .price{
    font-size: 0.28rem;
    color: #CC0004;
    margin-top: 0.2rem;
}

/*输入框盒子*/
.amount-input-wrap{
    width: 2.04rem;
    height: 0.5rem;
    border: 1px solid #000000;
    border-radius: 0.08rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}
/*加减按钮公共样式*/
.amount-input-wrap .btn{
    width: 0.6rem;
    height: 0.4rem;
    font-size: 0.32rem;
    text-align: center;
    line-height: 0.4rem;
}
.amount-input-wrap .btn.active{
    color: #B5B5B5;
}

/*减号*/
.amount-input-wrap .dec{
    border-right: 1px solid #000000;
}
/*输入框盒子*/
.amount-input-wrap .amount-input{
    width: 0.76rem;
    height: 100%;
}
.amount-input-wrap .amount-input input{
    width: 100%;
    height: 100%;
    text-align: center;
}
/*加号*/
.amount-input-wrap .inc{
    border-left: 1px solid #000000;
}

/* 底部结算盒子 */
.orderend-wrap{
    width: 100%;
    height: 1rem;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 10;
    bottom: 1.1rem;
    left: 0;
    border-top: 1px solid #EFEFEF;
    display: flex;
    display: -webkit-flex;
}

/* 结算左边盒子 */
.orderend-wrap .select-area{
    width: auto;
    height: 100%;
    flex: 3;
    -webkit-flex: 3;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
}
/*全选按钮盒子*/
.orderend-wrap .select-area .select-wrap{
    width: auto;
    display: flex;
    display: -webkit-flex;
}
/*全选按钮*/
.orderend-wrap .select-area .select-wrap .select-btn{
    width: 0.4rem;
    height: 0.4rem;
    border: 1px solid #bfbfbf;
    border-radius: 100%;
    margin-left: 0.2rem;
    margin-right: 0.1rem;
}
.orderend-wrap .select-area .select-wrap .select-btn.active{
    background-image: url("../../../assets/images/home/cart/checkmark.png");
    border: #FFFFFF solid 1px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
/*文字*/
.orderend-wrap .select-area .select-wrap .select-text{
    font-size: 0.24rem;
}

/*计算价格*/
.orderend-wrap .total {
    font-size: 0.24rem;
    margin-right: 0.2rem;
}

.orderend-wrap .total span{
    color: #CC0004;
}

/*结算按钮*/
.orderend-wrap .orderend-btn{
    width: auto;
    height: 100%;
    flex: 1;
    -webkit-flex: 1;
    background-color: #CC0004;
    font-size: 0.32rem;
    color: #FFFFFF;
    text-align: center;
    line-height: 1rem;
}

.orderend-wrap .orderend-btn.disable{
    background-color: #bfbfbf;
}