.page{
    width: 100%;
    min-height: 100vh;
    background-color: #FFFFFF;
    overflow: hidden;
}
.main{
    width: 100%;
    padding-top: 1.2rem;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/*单个盒子*/
.main .goods-list{
    width: 46%;
    height: 5.8rem;
    margin-bottom: 0.3rem;
}
/*预览图*/
.main .goods-list .image{
    width: 3.36rem;
    height: 3.36rem;
}
.main .goods-list .image img{
    width: 100%;
    height: 100%;
}
/*标题*/
.main .goods-list .title{
    width: 100%;
    height: 0.8rem;
    overflow: hidden;
    font-size: 0.28rem;
    margin-top: 0.2rem;
}
/*价格*/
.main .goods-list .price{
    width: 100%;
    font-size: 0.28rem;
    margin-top: 0.2rem;
    color: #F93036;
}
/*按钮盒子*/
.main .goods-list .btn-wrap{
    width: 100%;
    margin-top: 0.2rem;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
.main .goods-list .btn-wrap .btn{
    width: 1.08rem;
    height: 0.56rem;
    border: 1px solid #F93036;
    border-radius: 4px;
    font-size: 0.28rem;
    color: #F93036;
    text-align: center;
    line-height: 0.56rem;
}