/*头部*/
.details-header{
    width: 100%;
    height: 1rem;
    background-color: #FFFFFF;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
}
/*返回按钮*/
.details-header .back {
    width: 0.8rem;
    height: 0.8rem;
    background-image: url("../../../../assets/images/home/goods/back.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
/*tab选项卡*/
.details-header .tab-wrap {
    width: 70%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
}
/* tab 单个卡*/
.details-header .tab-wrap .tab-name{
    width: auto;
    height: 95%;
    flex: 1;
    -webkit-flex: 1;
    text-align: center;
    font-size: 0.36rem;
    overflow: hidden;
    line-height: 1rem;
}
/*选中tab单个卡*/
.details-header .tab-wrap .tab-name.active{
    border-bottom: 2px solid #FDA208;
}

/*购物车*/
.details-header .cart-icon{
    width: 0.8rem;
    height: 0.8rem;
    background-image: url("../../../../assets/images/home/goods/cart.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 0.2rem;
    position: relative;
    z-index: 1;
}
/*购物车*/
.details-header .cart-icon .spot{
    width: 0.2rem;
    height: 0.2rem;
    background-color: #ff0000;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    top: 0.15rem;
    right: 0px;
}