/* 轮播图 */
.swpier-wrap{width:100%;height:7rem;overflow:hidden;position: relative;z-index:1;margin-top:1.2rem;}
.swpier-wrap img{width:100%;}

/* 标题头部盒子 */
.goods-ele-main{
    width: 100vw;
    height: auto;
    padding-left: 0.2rem;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
/*标题*/
.goods-ele-main .goods-title{
    width: 90%;
    font-size: 0.28rem;
}
/*价格*/
.goods-ele-main .price{
    color: #F93036;
    width: 90%;
    margin-top: 0.2rem;
    font-size: 0.32rem;
}
/*快递和销量*/
.goods-ele-main .sales-wrap{
    width: 90%;
    font-size: 0.24rem;
    color: #969696;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    margin-top: 0.2rem;
}

/*评价盒子*/
.reviews-main{
    width: 100%;
    background-color: #FFFFFF;
    margin-top: 0.5rem;
    overflow: hidden;
    padding-bottom: 1.7rem;
}
/*标题*/
.reviews-main .reviews-title{
    color: #7b7f82;
    font-size: 0.32rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 0.2rem;
}
/*评论内容盒子*/
.reviews-main .reviews-wrap{
    width: 90%;
    margin: 0 auto;
}
/*单条评论*/
.reviews-main .reviews-wrap .reviews-list{
    width: 100%;
    margin-top: 0.2rem;
}
/*用户信息*/
.reviews-main .reviews-list .uinfo{
    width: 100%;
    display: flex;
    display: -webkit-flex;
    height: 0.6rem;
    align-items: center;
    -webkit-align-items: center;
}
/*头像*/
.reviews-main .reviews-list .uinfo .head{
    width: 0.6rem;
    height: 0.6rem;
    margin-right: 0.2rem;
}
.reviews-main .reviews-list .uinfo .head img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
/*用户昵称*/
.reviews-main .reviews-list .uinfo .nickname{
    width: auto;
    font-size: 0.28rem;
}
/*评价内容*/
.reviews-main .reviews-list .reviews-content{
    width: 100%;
    margin: 0 auto;
    font-size: 0.28rem;
    margin-top: 0.2rem;
}
/*时间*/
.reviews-main .reviews-list .reviews-date{
    width: auto;
    font-size: 0.28rem;
    color: #7b7f82;
    margin-top: 0.2rem;
}
/*查看更多评价*/
.reviews-main .reviews-more{
    width: 2.44rem;
    height: 0.56rem;
    border: solid 1px #D50A17;
    line-height: 0.56rem;
    text-align: center;
    font-size: 0.28rem;
    margin: 0 auto;
    margin-top: 0.5rem;
    border-radius: 0.1rem;
}

/*按钮盒子*/
.bottom-btn-wrap{
    width: 100%;
    height: 1.2rem;
    position: fixed;
    bottom: -2px;
    left: 0px;
    z-index: 10;
    display: flex;
    display: -webkit-flex;
}
/*按钮样式*/
.bottom-btn-wrap .btn{
    width: auto;
    height: 100%;
    flex: 1;
    -webkit-flex: 1;
    font-size: 0.36rem;
    color: #FFFFFF;
    text-align: center;
    line-height: 1.2rem;
}
/*橙色*/
.bottom-btn-wrap .btn.fav{
    background-color: #FCB401;
}
/*收藏的样式*/
.bottom-btn-wrap .btn.card{
    background-color: #ff0000;
}

/*遮罩层*/
.mask{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.3);
}
/*控制面板*/
.cart-panel{
    width: 100%;
    height: 60%;
    background-color: #f5f5f9;
    position: fixed;
    z-index: 12;
    left: 0px;
    bottom: 0px;
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
}
/*控制面板动画*/
.cart-panel.up{
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
}
.cart-panel.down{
    transform: translateY(120%);
    -webkit-transform: translateY(120%);
}
/*商品信息盒子*/
.cart-panel .goods-info{
    width: 95%;
    height: 1.22rem;
    border-bottom: 1px solid #EFEFEF;
    background-color: #FFFFFF;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    position: relative;
    z-index: 1;
}
/*图片盒子*/
.cart-panel .goods-info .goods-img{
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.3rem;
}
.cart-panel .goods-info .goods-img img{
    width: 100%;
    height: 100%;
}
/*右侧详细商品信息*/
.cart-panel .goods-info .goods-wrap{
    width: 80%;
    height: auto;
}
/*商品标题*/
.cart-panel .goods-info .goods-wrap .goods-title{
    width: 100%;
    height: 0.7rem;
    font-size: 0.24rem;
    overflow: hidden;
}
/*价格*/
.cart-panel .goods-info .goods-wrap .price{
    color: #F93036;
    font-size: 0.24rem;
}
/*编码*/
.cart-panel .goods-info .goods-wrap .goods-code{
    color: #888888;
    font-size: 0.24rem;
    position: absolute;
    z-index: 1;
    right: 0.1rem;
    bottom: 0.1rem;
}
/*关闭按钮盒子*/
.cart-panel .goods-info .close-panel-wrap{
    width: auto;
    height: 1.2rem;
    position: absolute;
    right: 0.3rem;
    top: -1rem;
    z-index: 2;
}
/*下面的点*/
.cart-panel .goods-info .close-panel-wrap .spot{
    width: 0.12rem;
    height: 0.12rem;
    position: absolute;
    z-index: 2;
    bottom: 0px;
    left: 0px;
    background-color: #000000;
    border-radius: 50%;
}
/*中间的线*/
.cart-panel .goods-info .close-panel-wrap .line{
    width: 1px;
    height: 0.72rem;
    background-color: #FFFFFF;
    position: absolute;
    z-index: 1;
    left: 0.05rem;
    bottom: 0px;
}
/*关闭按钮*/
.cart-panel .goods-info .close-panel-wrap .close{
    width: 0.4rem;
    height: 0.4rem;
    background-image: url("../../../../assets/images/home/goods/x.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: absolute;
    right: -0.25rem;
    top: 0.2rem;
}

/*数据面板*/
.cart-panel .attr-wrap{
    width: auto;
    max-height: 4rem;
    padding-left: 0.2rem;
    background-color: #FFFFFF;
    /*解决ios卡顿*/
    overflow-y: scroll;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
}
/*数据列表*/
.cart-panel .attr-wrap .attr-list{
    width: 100%;
    height: auto;
    padding-top: 0.2rem;
    overflow: hidden;
}
/*标题*/
.cart-panel .attr-list .attr-name{
    width: auto;
    font-size: 0.32rem;
}
/*选项盒子*/
.cart-panel .attr-list .val-wrap{
    width: auto;
    margin-top: 0.2rem;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
/*单个选项*/
.cart-panel .attr-list .val-wrap .val{
    background-color: #EFEFEF;
    font-size: 0.32rem;
    padding: 0.1rem 0.2rem;
    border-radius: 0.1rem;
    margin-right: 0.16rem;
    margin-bottom: 0.16rem;
    display: table;
}

.cart-panel .attr-list .val-wrap .val.active{
    background-color: #FDA208;
    color: #FFFFFF;
}

/*购买数量盒子*/
.cart-panel .amount-wrap{
    width: auto;
    height: 0.64rem;
    padding-left: 0.2rem;
    padding-top: 0.2rem;
    background-color: #FFFFFF;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    padding-bottom: 0.2rem;
}

/*购买数量标题*/
.cart-panel .amount-wrap .amount-name{
    width: auto;
    font-size: 0.32rem;

}
/*输入框盒子*/
.cart-panel .amount-wrap .amount-input-wrap{
    width: 2.04rem;
    height: 0.64rem;
    border: 1px solid #000000;
    margin-right: 0.2rem;
    border-radius: 0.08rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}
/*加减按钮公共样式*/
.cart-panel .amount-wrap .amount-input-wrap .btn{
    width: 0.6rem;
    height: 0.4rem;
    font-size: 0.32rem;
    text-align: center;
    line-height: 0.4rem;
}
.cart-panel .amount-wrap .amount-input-wrap .btn.active{
    color: #B5B5B5;
}

/*减号*/
.cart-panel .amount-wrap .amount-input-wrap .dec{
    border-right: 1px solid #000000;
}
/*输入框盒子*/
.cart-panel .amount-wrap .amount-input-wrap .amount-input{
    width: 0.76rem;
    height: 100%;
}
.cart-panel .amount-wrap .amount-input-wrap .amount-input input{
    width: 100%;
    height: 100%;
    text-align: center;
}
/*加号*/
.cart-panel .amount-wrap .amount-input-wrap .inc{
    border-left: 1px solid #000000;
}

/*确定添加购物车按钮*/
.cart-panel .sure-btn{
    width: 100%;
    height: 0.9rem;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    color: #FFFFFF;
    font-size: 0.32rem;
    background-color: #CF0005;
    text-align: center;
    line-height: 0.9rem;
}