.page{
    margin-top: 1.2rem;
}

/*评论内容盒子*/
.reviews-wrap{
    width: 90%;
    margin: 0 auto;
}
/*单条评论*/
.reviews-wrap .reviews-list{
    width: 100%;
    margin-top: 0.2rem;
}
/*用户信息*/
.reviews-list .uinfo{
    width: 100%;
    display: flex;
    display: -webkit-flex;
    height: 0.6rem;
    align-items: center;
    -webkit-align-items: center;
}
/*头像*/
.reviews-list .uinfo .head{
    width: 0.6rem;
    height: 0.6rem;
    margin-right: 0.2rem;
}
.reviews-list .uinfo .head img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
/*用户昵称*/
.reviews-list .uinfo .nickname{
    width: auto;
    font-size: 0.28rem;
}
/*评价内容*/
.reviews-list .reviews-content{
    width: 100%;
    margin: 0 auto;
    font-size: 0.28rem;
    margin-top: 0.2rem;
}
/*时间*/
.reviews-list .reviews-date{
    width: auto;
    font-size: 0.28rem;
    color: #7b7f82;
    margin-top: 0.2rem;
}