/*内容盒子*/
.goods-content-main{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
/*子盒子*/
.goods-wrap{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.goods-wrap .classify-name{
    font-size: 0.7rem;
    width: 100%;
    height: 1.7rem;
    line-height: 1.7rem;
    overflow: hidden;
}
.goods-wrap .goods-item-wrap{
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
}
.goods-wrap .goods-item-wrap ul{
    width: 32%;
    height: auto;
    margin-left: 0.5%;
    margin-right:0.5%;
    float: left;
}
.goods-wrap .goods-item-wrap ul .image{
    width: 100%;
    height: 3rem;
    overflow: hidden;
}
.goods-wrap .goods-item-wrap ul li:nth-child(1){
    width: 3.5rem;
    height: 3.5rem;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

.goods-wrap .goods-item-wrap ul li:nth-child(1) img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.goods-wrap .goods-item-wrap ul li:nth-child(2){
    width: 90%;
    height: 1rem;
    font-size: 0.6rem;
    overflow: hidden;text-align: center;
    margin: 0 auto;
    line-height: 1rem;
    white-space: nowrap;    /*禁止换行*/
    text-overflow: ellipsis; /*超出的使用省略号*/
    margin-top: 0.2rem;
}
.null-item{
    width: auto;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    text-align: center;
}