/*用户信息盒子*/
.user-info-wrap{
    width: 100%;
    height: 2.8rem;
    background-image: url("../../../../assets/images/user/my/mybg.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 1.02rem;
    position: relative;
    z-index: 1;
}

.user-info-wrap .head{
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    z-index: 1;
    bottom: 15%;
    left: 5%;
}

.user-info-wrap .head img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.user-info-wrap .nickname{
    width: auto;
    height: auto;
    white-space: nowrap;
    position: absolute;
    z-index: 1;
    left: 27%;
    bottom: 35%;
    font-size: 0.24rem;
    color: #FFFFFF;
}
.user-info-wrap .points{
    width: auto;
    height: auto;
    font-size: 0.24rem;
    white-space: nowrap;
    position: absolute;
    z-index: 1;
    left: 27%;
    bottom: 20%;
    color: #FFFFFF;
}
/*订单*/
.order-name-wrap{
    width: 100%;
    height: 0.8rem;
    background-color: #FFFFFF;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    overflow: hidden;
}
.order-name-wrap .order-name{
    font-size: 0.28rem;
    margin-left: 3%;
}
.order-name-wrap .show-order{
    font-size: 0.24rem;
    margin-right: 3%;
}

/*订单状态*/
.order-status-wrap{
    width: 100%;
    height: 1.4rem;
    background-color: #FFFFFF;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    align-items: center;
    -webkit-align-items: center;
}
.order-status-wrap .item{
    width: 1rem;
    height: auto;
}
.order-status-wrap .item .icon{
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 auto;
}
.order-status-wrap .item .text{
    width: 100%;
    font-size: 0.24rem;
    text-align: center;
}

/*待付款*/
.order-status-wrap .item .icon.wait{
    background-image: url("../../../../assets/images/user/my/pay.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
/*待收货*/
.order-status-wrap .item .icon.take{
    background-image: url("../../../../assets/images/user/my/shouhuo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
/*待评价*/
.order-status-wrap .item .icon.comment{
    background-image: url("../../../../assets/images/user/my/comment.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
/*列表*/
.menu-list-wrap{
    width: 100%;
    height: 6rem;
    background-color: #FFFFFF;
    margin-top: 0.32rem;
}
.menu-list-wrap ul{
    width: 88%;
    height: 0.8rem;
    border-bottom: 1px solid #EFEFEF;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    padding-left: 10%;
    padding-right: 2%;
}
.menu-list-wrap ul li:nth-child(1) {
    font-size: 0.32rem;
}
.menu-list-wrap ul li:nth-child(2) {
    width: 0.4rem;
    height: 0.4rem;
    background-image: url("../../../../assets/images/common/right_arrow.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.menu-list-wrap .btn{
    width: 70%;
    height: 0.8rem;
    margin: 0 auto;
    background-color: #E51B19;
    border-radius: 5px;
    font-size: 0.32rem;
    color: #FFFFFF;
    line-height: 0.8rem;
    margin-top: 0.4rem;
    text-align: center;
}