.page{
    width: 100%;
    min-height: 100vh;
    background-color: #FFFFFF;
    overflow: hidden;
}
/*主体*/
.main{
    width: 100%;
    margin-top: 1.3rem;
    margin-bottom: 1.2rem;
}
.main .list{
    width: 100%;
    font-size: 0.32rem;
    text-align: center;
}
/*订购成功*/
.main .list.success{
    color: #e51b19;
}
/*订单编号*/
.main .list.ordernum{
    color: #F17F1F;
}
/*去付款*/
.main .pay-btn{
    width: 3.2rem;
    height: 0.6rem;
    font-size: 0.28rem;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    background-color: #0a8ddf;
    line-height: 0.6rem;
    border-radius: 4px;
}